h2{
    font-size: 50px;
    font-family: poppins;
    font-weight: 200;
}

.cHome {
    /* display: block; */
}

div#home {
    /* height: auto; */
}

ul#beneficios{
    /* display: inline-block; */
}

ul#beneficios li{
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: auto;
    /* border: 1px solid white; */
    list-style: none;
    padding: 10px;
}

p.item-beneficio{
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: underline;
    padding: 3px;
    color: rgb(243, 102, 8);
    font-weight: 400;
    font-family: 'Roboto';
}

h3.alert-home{
    font-size: 1.3em;
    color: rgb(243, 102, 8);
    margin: 15px;
}


