a#btn-login{
    color: rgb(255, 255, 255);
    background-color: rgb(17, 161, 223);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin: 30px;
}

a#btn-matricula{
    color: rgb(255, 255, 255);
    background-color: rgb(10, 171, 53);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin: 30px;
}

